In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

In [5]:
# add a new column <<profit>> in data
data['profit'] = data.revenue-data.budget
data.columns

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year', 'profit'],
      dtype='object')

In [6]:
def pivot_values(df: pd.DataFrame, index_col, value_col,
                 agg_func='sum', result_func=None):
    '''Return a pd.Series containing pivot values of 
            unique elements in index_col in the DataFrame.

        Parametrs:
        index_col : str
            column with values to split

        value_col: str
            column with values to aggregate by the agg_func

        agg_func : function default max

        result_func: function default None
            used when it is necessary to process the values of the resulting Series'''

    df_in = df.copy()
    series_out = pd.Series(dtype='float')

    # create a Series with separated values of index_col as index
    names = df_in[index_col].str.cat(sep='|')
    names = pd.Series(names.split('|')).value_counts()

    for name in names.index:
        series_out[name] = df_in[value_col][df_in[index_col].map(
            lambda x: True if name in x else False)].apply(agg_func)

    if not result_func:
        return series_out
    else:
        return series_out[series_out == series_out.apply(result_func)]

In [7]:
# df_changed is for replace original_title and overvew by their length and release_date by release_month
df_changed = data.copy()
df_changed['release_date'] = df_changed['release_date'].apply(
    lambda x: x[0:x.find('/')])
df_changed['original_title'] = df_changed['original_title'].str.len()
df_changed.overview = df_changed.overview.str.split().apply(lambda x: len(x))
df_changed.rename(columns={'original_title': 'title_len',
                           'release_date': 'release_month',
                           'overview': 'overview_len'}, inplace=True)
df_changed.head()

,imdb_id,budget,revenue,title_len,cast,director,tagline,overview_len,runtime,genres,production_companies,release_month,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,14,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,26,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6,6.5,2015,1363528810
1,tt1392190,150000000,378436354,18,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,110,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5,7.1,2015,228436354
2,tt2908446,110000000,295238201,9,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,22,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3,6.3,2015,185238201
3,tt2488496,200000000,2068178225,28,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,26,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,9,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,14,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data.query('budget==budget.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [10]:
# запишите свой вариант ответа
# +
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
data.query('runtime==runtime.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [12]:
# +
answers['2'] = '115. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
data.query('runtime==runtime.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [14]:
# +
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [15]:
round(data.runtime.mean(), 1)

109.7

In [16]:
# +
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [17]:
data.runtime.median()

107.0

In [18]:
# +
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.query('profit==profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [20]:
# +
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [21]:
data.query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [22]:
# +
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
len(data.query('revenue>budget'))

1478

In [24]:
# +
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
data[data.release_year == 2008].query('revenue==revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [26]:
# +
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
data[data.release_year.isin([2012, 2013, 2014])].query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [28]:
# +
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres = data.genres.str.split('|').sum()
Counter(genres).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [30]:
df_11 = data['genres'].str.cat(sep='|')
df_11 = pd.Series(df_11.split('|')).value_counts()
df_11.head(1)

Drama    782
dtype: int64

In [31]:
# +
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
pivot_values(data[data.profit > 0], index_col='genres',
             value_col='imdb_id', agg_func='count', result_func='max')

Drama    560
dtype: int64

ВАРИАНТ 2

In [33]:
# create new DataFrame with separated genres for each movie with profit>0

df_genres = data[data.profit > 0].set_index(
    ['imdb_id']).genres.str.get_dummies()

profit_by_genres = pd.Series(dtype='float')

for col in df_genres.columns:
    profit_by_genres[col] = df_genres[df_genres[col] == 1][col].count()

profit_by_genres.sort_values(ascending=False).head(1)

Drama    560
dtype: int64

In [34]:
# +
answers['12'] = 'Drama'

Вариант 2

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [35]:
pivot_values(data, index_col='director',
             value_col='revenue', result_func='max')

Peter Jackson    6490593685
dtype: int64

In [36]:
# +
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
pivot_values(data[data.genres.str.contains('Action')], index_col='director',
             value_col='imdb_id', agg_func='count', result_func='max')

Robert Rodriguez    9
dtype: int64

In [38]:
# +
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
pivot_values(data.query('release_year==2012'), index_col='cast',
             value_col='revenue', result_func='max')

Chris Hemsworth    2027450773
dtype: int64

In [40]:
# +
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
pivot_values(data.query('budget>budget.mean()'), index_col='cast',
             value_col='imdb_id', agg_func='count', result_func='max')

Matt Damon    18
dtype: int64

In [42]:
# +
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
pivot_values(data[data.cast.str.contains('Nicolas Cage')],
             index_col='genres', value_col='imdb_id', agg_func='count', result_func='max')

Action    17
dtype: int64

In [44]:
# +
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures')]
data_18.query('profit==profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [46]:
# +
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data.pivot_table(values='revenue', columns='release_year',
                 aggfunc='sum').sort_values('revenue', axis=1, ascending=False)

release_year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2004,2005,2006,2003,2002,2001,2000
revenue,25449202382,23405862953,23213799791,23079001687,22676791872,21071204961,20261791024,18252781990,18162406801,15663430720,15309425558,14775042320,14346123312,14136361487,13017764865,10664099805

In [48]:
# +
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data_20 = data[data.production_companies.str.contains('Warner Bros')]
data_20.pivot_table(values='profit', columns='release_year',
                    aggfunc='sum').sort_values('profit', axis=1, ascending=False)

release_year,2014,2007,2008,2010,2011,2003,2009,2013,2004,2005,2001,2012,2002,2015,2006,2000
profit,2295464519,2201675217,2134595031,1974712985,1871393682,1855493377,1822454136,1636453400,1631933725,1551980298,1343545668,1258020056,1022709901,870368348,620170743,452631386

In [50]:
# +
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
''' in questions 21--25 used fd_changed with changed: 'original_title': 'title_len',
                                                     'release_date': 'release_month',
                                                     'overview': 'overview_len' '''

" in questions 21--25 used fd_changed with changed: 'original_title': 'title_len',\n                                                     'release_date': 'release_month',\n                                                     'overview': 'overview_len' "

In [52]:
df_changed.pivot_table(columns='release_month', values='imdb_id',
                       aggfunc='count').sort_values('imdb_id', axis=1, ascending=False)

release_month    9   12   10    8    3    4    6   11    7    5    2    1
imdb_id        227  190  186  161  156  149  147  146  142  140  135  110

In [53]:
# +
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
df_changed[df_changed['release_month'].isin(['6', '7', '8'])].imdb_id.count()

450

In [55]:
# +
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
pivot_values(df_changed[df_changed['release_month'].isin(['12', '1', '2'])], index_col='director',
             value_col='imdb_id', agg_func='count', result_func='max')

Peter Jackson    7
dtype: int64

In [57]:
# +
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
pivot_values(df_changed, index_col='production_companies',
             value_col='title_len', agg_func='mean', result_func='max')

Four By Two Productions    83.0
dtype: float64

In [59]:
# +
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
pivot_values(df_changed, index_col='production_companies',
             value_col='overview_len', agg_func='mean', result_func='max')

Midnight Picture Show    175.0
dtype: float64

In [61]:
# +
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
vote_stat = data.vote_average.value_counts(bins=100, sort=False)
vote_stat.index[99]

Interval(8.052, 8.1, closed='right')

In [63]:
data[(data.vote_average > vote_stat.index[99].left) &
     (data.vote_average <= vote_stat.index[99].right)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

ВАРИАНТ 2

In [64]:
# or we can see that number of 1% best movies equals 1. So its just the best movie
data.query('vote_average==vote_average.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [65]:
# +
answers['26'] = '599. The Dark Knight (tt0468569)'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
# create a Series with actors as index
actors = data['cast'].str.cat(sep='|')
actors = pd.Series(actors.split('|')).value_counts()

# create a DataFrame will be a result
df_res = pd.DataFrame(columns=['actor', 'partner', 'count'])

for name in actors.index:

    # create an actor's partners Series
    partners = data[data.cast.str.contains(name)]['cast'].str.cat(sep='|')
    partners = pd.Series(partners.split('|')).value_counts()

    # removing actor's name from his partners Series
    partners = partners.drop(labels=name)
    # keep only partners with max count
    partners = partners[partners == partners.max()]

    # convert Series to DataFrame
    partners = partners.to_frame()
    partners = partners.reset_index()
    partners.columns = ['partner', 'count']

    # append partners
    df_res = df_res.append(partners, ignore_index=True)

    # add actor
    df_res['actor'] = df_res['actor'].fillna(name)

df_res.query('count==count.max()')

                 actor           partner count
567        Emma Watson  Daniel Radcliffe     8
568        Emma Watson      Rupert Grint     8
984   Daniel Radcliffe      Rupert Grint     8
985   Daniel Radcliffe       Emma Watson     8
1705      Rupert Grint  Daniel Radcliffe     8
1706      Rupert Grint       Emma Watson     8

In [67]:
# +
answers['27'] = 'Emma Watson, Daniel Radcliffe, Rupert Grint'

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '115. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': '599. The Dark Knight (tt0468569)',
 '27': 'Emma Watson, Daniel Radcliffe, Rupert Grint'}

In [69]:
# и убедиться что ничего не пропустил)
len(answers)

27